body {
    font-family: 'Nunito', sans-serif;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.submitButton {
    background: none;
    border: none;
    padding: 0;
    /*optional*/
    font: inherit;
    /*input has OS specific font-family*/
    color: unset;
    text-decoration: underline;
    cursor: pointer;
}
